<body>
    <section class="content">
    </section>
	<footer class="footer">
		<div class="container row">
			
			<div class="footer-col">
				<br><br>
				<h4>Matan Azulay</h4>
				<ul>
					<li><a href="matanazulay123@gmail.com">matanazulay123@gmail.com</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<br><br>
				<h4>Leah Cooke</h4>
				<ul>
					<li><a href="leahcooke2000@gmail.com">leahcooke2000@gmail.com</a></li>
				</ul>
			</div>
			
			<div  class="name">
				<br>
				<h1>My<span class="span">Series</span></h1>
			</div>
		</div>
	</footer>
</body>