<h1>Top 5 TV Shows</h1>
<br>  
    <div class="d-flex flex-row h-100">
        <div class="card p-2"  *ngFor="let product of series">
            <img class="card-img-top w-70" src="{{product.getPicture()}}" alt="Card image cap">
            <b><div class="card-body "> {{product.getTitle()}}
                <br>
                {{product.getYear()}}
            </div></b>
        </div>
    </div>
    <br><br><br>
<div>
    <h1>Contact us</h1>    
    <div class="d-flex align-items-baseline">
        <a href="#" class="fa fa-facebook p-2"></a>
        <a href="#" class="fa fa-instagram p-2"></a>
        <a href="#" class="fa fa-twitter p-2"></a>
    </div>
</div>
